@inject NavigationManager Nav
@typeparam TComponent

<li class="me-2">
    <a href="@Url" class="transition-colors inline-block p-4 border-b-2 @CssClasses" aria-current="@AriaCurrent">@Text</a>
</li>

@code {
    bool isCurrent;

    [Parameter, EditorRequired] public string Url { get; set; } = default!;
    [Parameter, EditorRequired] public string Text { get; set; } = default!;

    [CascadingParameter] public TabSet? Owner { get; set; }

    string CssClasses => isCurrent
        ? "font-semibold text-blue-600 border-blue-600 active"
        : "border-transparent hover:text-gray-700 hover:border-gray-500";

    string? AriaCurrent => isCurrent ? "page" : null;

    protected override void OnInitialized()
    {
        if (Owner is null)
        {
            throw new InvalidOperationException($"{nameof(Tab<TComponent>)} must be placed inside a {nameof(TabSet)}");
        }

        isCurrent = Url == Nav.ToBaseRelativePath(Nav.Uri);
        if (isCurrent)
        {
            Owner.SetCurrentTabContent(typeof(TComponent));
        }
    }
}
